:root {
  --color-water-10: #e4e8f0;

  --bc-background-color-1: #252629;
  --bc-headline-color-1: #fa4b12;
  --bc-background-color-2: #e5430f;
  --bc-text-color: white;
  --bc-background-color-3: #e4e8f0;
}

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bc-background-color-3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
header,
main,
footer,
form,
fieldset {
  display: grid;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0.3rem 0 0 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 0.8rem;
}

h2 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

h4 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 0.5rem;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

button[type="submit"] {
  padding: 0.5rem 2rem;
  width: fit-content;
  margin: 1.5rem auto;
  font-weight: bolder;
  background-color: var(--bc-background-color-2);
  color: var(--bc-text-color);
  border: none;
  border-radius: 5px;
}

.card {
  background: none;
  border: none;
  color: var(--bc-text-color);
  font-size: 1rem;
}

.deleteBtn {
  background-color: var(--bc-background-color-3);
  color: var(--bc-background-color-1);
  border: none;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: var(--bc-headline-color-1);
  color: var(--bc-text-color);
  outline: none;
}

.card:hover,
.card:focus {
  background-color: var(--bc-background-color-3);
  color: var(--bc-background-color-1);
  padding: 0 0.2rem;
  border-radius: 3px;
  outline: none;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.7rem;
}
